@using SmartMirror.Data.News;
@inject NewsService NewsService
@inject IStringLocalizer<News> Localizer
@implements IDisposable

@if (!Show)
{
    return;
}

<div class="container-fluid card-1">
    @if (NewsResponse == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        TimeSpan published = DateTime.Now.Date - NewsResponse.ElementAt(Index).Published.Date;
        string publishedString = Localizer["today"];
        if (published.Days > 0)
        {
            publishedString = Localizer["{0} days ago", published.Days];
        }

        <div class="row">
            <div class="col-10">
                <a href="@NewsResponse.ElementAt(Index).Id" target="_blank">
                    <h5>@NewsResponse.ElementAt(Index).Title</h5>
                    <p>@NewsResponse.ElementAt(Index).Description</p>
                    <small>@string.Join(",", NewsResponse.ElementAt(Index).Categories.Select(p => p.Name))</small>
                </a>
            </div>
            <div class="col-2">
                <small>@publishedString</small>
            </div>
        </div>
    }
</div>
<br />

@code {
    [Parameter]
    public bool Show { get; set; }

    private int Index { get; set; }
    private string Time { get; set; }
    private IEnumerable<NewsResponse> NewsResponse { get; set; }
    private Timer Timer { get; set; }

    [Parameter]
    public int RefreshIntervalSeconds { get; set; }

    protected override async Task OnInitializedAsync()
    {
        NewsResponse = await NewsService.GetFeeds();
        Random random = new Random();

        Timer = new Timer((_) =>
        {
            Time = DateTime.UtcNow.ToString();
            InvokeAsync(() =>
            {
                try
                {
                    Index = random.Next(0, NewsResponse.Count());
                    StateHasChanged();
                }
                catch (ObjectDisposedException)
                {
                }
            });
        }, null, 0, RefreshIntervalSeconds * 1000);
    }

    public void Dispose()
    {
        Timer?.Dispose();
    }
}
