@inject IStringLocalizer<Profile> Localizer
@inject IOptions<ProfileConfiguration> ProfileConfiguration
 
<div class="container-fluid">
    <div class="row card-1">
        <div class="col-8">
            @if (ProfileName == "lukas" || ProfileName == "alisa")
            {
                <span class="important">@Localizer["Hello"] @ProfileName</span>
            }
            else
            {
                <span class="important">@Localizer["Profile"] @ProfileName</span>
            }
        </div>
        <div class="col-4">
            @Localizer["Available profiles"]:<br />
            @string.Join(", ", ProfileConfiguration.Value)
        </div>
    </div>
</div>
<br />

@code {
    [Parameter]
    public string ProfileName { get; set; }
}