@using Microsoft.Extensions.Logging;
@using SmartMirror.Data.Speech;
@using SmartMirror.Data.WeatherForecast;
@using SmartMirror.Data.Fuel;
@using SmartMirror.Data.Bring;
@using SmartMirror.Data.Calendar;
@using SmartMirror.Data.Spotify;
@using SmartMirror.Data.Routes;
@using SmartMirror.Data.Clock;
@using SmartMirror.Data.VVS;
@using SmartMirror.Data.Fitbit;
@using SmartMirror.Data.Soccer;
@using SmartMirror.Data.News;
@using SmartMirror.Data.GoogleFit;
@using SmartMirror.SmartHome.Hue;

@inject IJSRuntime JSRuntime
@inject SpeechRecognitionService SpeechService
@inject ILogger<Speech> Logger

@inject WeatherState WeatherState
@inject FuelState FuelState
@inject BringState BringState
@inject CalendarState CalendarState
@inject SpotifyState SpotifyState
@inject RouteState RouteState
@inject ClockState ClockState
@inject VvsState VvsState
@inject HueState HueState
@inject FitbitState FitbitState
@inject NewsState NewsState
@inject BundesligaState SoccerState
@inject GoogleFitState GoogleFitState

<div class="container-fluid card-1 speech">
    <div class="row">
        <!-- display larger (click events) -->
        <div class="col-xl-1 d-none d-lg-block">
            @*<input type="button" class="btn btn-md btn-circle btn-secondary" onmousedown="startRecognition()" onmouseup="stopRecognition()" value="Voice" />*@
            <img id="speechStatusImageWeb" src="/icons/speech/@_symbol" width="35" height="35" />
        </div>
        <!-- only display on mobile (touch events) -->
        <div class="col-2 d-lg-none">
            @*<input type="button" class="btn btn-md btn-circle btn-secondary" ontouchstart="startRecognition()" ontouchend="stopRecognition()" value="Voice" />*@
            <img id="speechStatusImageMobile" src="/icons/speech/@_symbol" width="35" height="35" />
        </div>
        <div id="speechContainer" class="col-8 col-xl-8 overflow-auto">
            <span id="speechTextOutput" style="display: none;"></span><span>@_output</span>
        </div>
        <div class="col-xl-3 d-none d-lg-block">
            <span><img src="/icons/status/weather.png" width="25" height="25" class="icon @weatherDisplay" /></span>
            <span><img src="/icons/status/fuel.png" width="25" height="25" class="icon @fuelDisplay" /></span>
            <span><img src="/icons/status/bring.png" width="25" height="25" class="icon @bringDisplay" /></span>
            <span><img src="/icons/status/calendar.png" width="25" height="25" class="icon @calendarDisplay" /></span>
            <span><img src="/icons/status/spotify.png" width="25" height="25" class="icon @spotifyDisplay" /></span>
            <span><img src="/icons/status/routes.png" width="25" height="25" class="icon @routesDisplay" /></span>
            <span><img src="/icons/status/clock.png" width="25" height="25" class="icon @clockDisplay" /></span>
            <span><img src="/icons/status/train.png" width="25" height="25" class="icon @vvsDisplay" /></span>
            <span><img src="/icons/status/fitbit.png" width="25" height="25" class="icon @fitbitDisplay" /></span>
            <span><img src="/icons/status/hue.png" width="25" height="25" class="icon @hueDisplay" /></span>
        </div>
    </div>
</div>
<br />

@code {
    [Parameter]
    public bool VoiceOutput { get; set; }

    private string _symbol { get; set; } = "silent.png";
    private string _output { get; set; }

    string weatherDisplay;
    string fuelDisplay;
    string bringDisplay;
    string calendarDisplay;
    string spotifyDisplay;
    string routesDisplay;
    string clockDisplay;
    string vvsDisplay;
    string fitbitDisplay;
    string hueDisplay;

    // TODO
    string newsDisplay;
    string googleFitDisplay;
    string soccerDisplay;

    private static Func<string, Task> action;

    protected override void OnInitialized()
    {
        SetInitialWidgets();
        SetIcons();
        action = ValidateSpeechInput;
    }

    private async Task ValidateSpeechInput(string speechInput)
    {
        Logger.LogInformation("Validating {speechInput}.", speechInput);
        var recognitionResponse = await SpeechService.ValidateSpeechInputAsync(speechInput);
        _output = $" ({recognitionResponse.TopIntent})";

        if (VoiceOutput)
        {
            await JSRuntime.InvokeVoidAsync("speak", recognitionResponse.VoiceResponse);
        }

        SetIcons();
        await InvokeAsync(() => StateHasChanged());
    }

    [JSInvokable("SetSpeechInputCaller")]
    public static void SetSpeechInputCaller(string speechInput)
    {
        // This is async
        action.Invoke(speechInput);
    }

    private void SetIcons()
    {
        weatherDisplay = WeatherState.Enabled ? "icon-black" : "icon-disabled";
        fuelDisplay = FuelState.Enabled ? "icon-black" : "icon-disabled";
        bringDisplay = BringState.Enabled ? "icon-black" : "icon-disabled";
        calendarDisplay = CalendarState.Enabled ? "icon-black" : "icon-disabled";
        spotifyDisplay = SpotifyState.Enabled ? "icon-white" : "icon-disabled";
        routesDisplay = RouteState.Enabled ? "icon-black" : "icon-disabled";
        clockDisplay = ClockState.Enabled ? "icon-black" : "icon-disabled";
        vvsDisplay = VvsState.Enabled ? "icon-black" : "icon-disabled";
        fitbitDisplay = FitbitState.Enabled ? "icon-black" : "icon-disabled";
        hueDisplay = HueState.Enabled ? "icon-black" : "icon-disabled";
    }

    private void SetInitialWidgets()
    {
        WeatherState.SetEnabled(true);
        CalendarState.SetEnabled(true);
        ClockState.SetEnabled(true);
        NewsState.SetEnabled(true);

        SpotifyState.SetEnabled(true);
        SpotifyState.SetShowDetails(true);

        GoogleFitState.SetEnabled(true);
        SoccerState.SetEnabled(true);
    }
}