@using SmartMirror.Data.VVS
@inject VvsState State
@implements IDisposable

@if (!Enabled)
{
    return;
}

<div class="container-fluid card-1">
    <div class="row">
        <div class="col-12">
            <p class="box-heading">VVS - Wendlingen am Neckar</p>
        </div>
    </div>
    @if (VvsResponse == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                @foreach (var systemMessage in VvsResponse.SystemMessages)
                {
                    <p>@systemMessage</p>
                }
            </div>
            @foreach (Stopevent stop in VvsResponse.StopEvents)
            {
                <div class="col-12">
                    <b>@stop.DepartureTimePlanned.ToLocalTime().ToString("HH:mm")</b>
                    @if (stop.IsRealtimeControlled)
                    {
                        if (stop.DepartureTimeEstimated == DateTime.MinValue)
                        {
                            <span class="badge badge-danger">X</span>
                        }
                        else
                        {
                            var late = stop.DepartureTimeEstimated - stop.DepartureTimePlanned;
                            if (late.TotalMinutes <= 0)
                            {
                                <span class="badge badge-success">+@late.TotalMinutes</span>
                            }
                            else if (late.TotalMinutes <= 5)
                            {
                                <span class="badge badge-warning">+@late.TotalMinutes</span>
                            }
                            else
                            {
                                <span class="badge badge-danger">+@late.TotalMinutes</span>
                            }
                        }
                    }:
                    @if (stop.Transportation.name.StartsWith("Bus"))
                    {
                        @stop.Transportation.name
                    }
                    else
                    {
                        @stop.Transportation.disassembledName
                    }
                    <small>@stop.Location.DisassembledName</small>

                    <p>
                        @stop.Transportation.origin.name - @stop.Transportation.destination.name
                        @if (SpecialDestinations.Any(s => stop.Transportation.destination.name.ToLower().Contains(s)))
                        {
                            <span>&#9734;</span>
                        }
                    </p>
                </div>

            }
        </div>
    }
</div>
<br />

@code {
    /// <summary>
    /// 0 R-Bahn, 1 S-Bahn, 3 Stadtbahn, 5 Bus, 7 Nachtbus, 10 Ruftaxi, 11 Sonstige
    /// </summary>

    private string[] SpecialDestinations { get; set; } = new string[] { "stuttgart", "herrenberg", "osterburken" };
    private bool Enabled => State.Enabled;
    private int Limit => State.Limit;
    private int[] Filter => State.Filter;
    private VvsResponse VvsResponse => State.VvsResponse;

    private string Time { get; set; }
    private Timer Timer { get; set; }

    protected override void OnInitialized()
    {
        State.OnChange += StateHasChangedAsync;
        State.SetLimit(5);
        State.SetFilter(new int[] { 0, 1 });

        Timer = new Timer((_) =>
        {
            Time = DateTime.UtcNow.ToString();
            InvokeAsync(async () =>
            {
                try
                {
                    if (Enabled)
                    {
                        await State.GetVvsResponseAsync(Limit, Filter);
                        StateHasChanged();
                    }
                }
                catch (ObjectDisposedException)
                {
                }
            });
        }, null, 0, 120 * 1000);

        base.OnInitialized();
    }

    public async void StateHasChangedAsync()
    {
        if (Enabled && State.VvsResponse == null)
        {
            await State.GetVvsResponseAsync(Limit, Filter);
        }

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        State.OnChange -= StateHasChangedAsync;
        Timer?.Dispose();
    }
}